<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h1>
        Welcome to Miles Phillips' Astronomy Project! Click "New Planet" to learn about a random planet in our
        Solar
        System!
    </h1>
    <h3>
        From Wikipedia - "A planet is a large object such as Venus or Earth that orbits a star. Planets are smaller than
        stars, and they do not make light. Jupiter is the biggest planet in the Solar System.

        Planets are shaped like a slightly squashed ball (called a spheroid). Objects that orbit planets are called
        satellites. A star and everything which orbits it are called a star system.

        There are eight planets in the Solar System. Pluto used to be called a planet, but in August 2006, the
        International Astronomical Union decided it was a dwarf planet instead. There are four more known dwarf planets
        in the Solar System, Ceres, Makemake, Eris and Haumea.

        The name "planet" is from the Greek word πλανήτης (planetes), meaning "wanderers", or "things that move". Until
        the 1990s, people only knew the planets in the Solar System.

        "
    </h3>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/Sources">
        <button type="submit" name="b1">Sources</button>
    </form>

</body>

</html>