<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Jupiter
    </h2>
    <img src="/static/jupiter.jpg">

    <div class="mainText">
        <p>
            Sporting 79 moons and a storm twice the size of Earth, Jupiter is the fifth closest planet to the Sun, as
            well as the largest by both mass and volume.
            Jupiter is named after the Roman God of the sky, the top god of the Roman pantheon. This is a fitting
            namesake, as more than 1300 Earths would fit inside this colossus of a planet.

        </p>
        <p>
            Jupiter is covered in bright stipes of ammonia and water, contained in a thick atomosphere comprised of
            hydrogen and helium.

        </p>
        <p>
            Jupiter is a gas giant. This means that it lacks an Earth-like surface. Relatively little is known about
            Jupiter, so it still isn't certain that the planet even has a solid core. However, if it did, it would only
            be about the size of Earth!
        </p>
        <p>
            Although Jupiter is completely unsuited for life, it has 79 moons, some of which have underground liquid
            water oceans that may be habitable for life similar to what is found on Earth's ocean floor
        </p>
        <p>
            Compared to the Rock Planets, Jupiter has been the subject of relatively few spacecraft missions. Juno, the
            only currently active mission, sent an orbital probe to the planet in 2011. This satellite approached
            Jupiter in 2016 and is scheduled to remain in
            service until 2025, when it will be sent to burn up in the planet's atomosphere.
        </p>
    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>