<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Mars
    </h2>
    <img src="/static/Mars.jpg">

    <div class="mainText">
        <p>
            Although Mars is seemingly a cold and desolate wasteland, this desert planet is actually the best option for
            human colonization in our entire Solar System. It is the fourth closest planet to the Sun.
            Mars is named after the Roman God of war because of its red surface, reminiscent of blood. Mars gets this
            color because it is covered in oxidized iron. The whole planet is basically a desert of rust!

        </p>
        <p>
            Mars' core does not generate a magnetic field, the planet has some previously magnetized surface material,
            but its field is negligible compared to the force of incoming asteroids. Due to its lack of protection, Mars
            is covered in craters.
            This in conjunction with the planet's massive volcanos and crustal movements leads to the planet having a
            rugged, treacherous terrain.
            &NewLine; &Tab;
            Mars also has an incredibly thin atomosphere made up of carbon dioxide, argon, and nitrogen. The relative
            thinness of this
            atomosphere leads to very low tempurates and the inability for humans to breath without aid.

        </p>
        <p>
            At one point in the past, Mars was much more hospitable than it is today. The planet was and still is very
            geologically active,
            seismic activity lead to massive mountains and volcanos. The largest of which, Olympus Mons, is
            the largest volcano in the Solar System, measuring in at 16 miles tall - this is about 3 times taller than
            Mount Everest! Mars has another very important surface feature: naturally occurring crevices and channels.
            This is because
            the planet's surface was once covered in liquid water!
            &NewLine; &Tab;
            Although it is no longer active, Mars also once had a strong magnetic field.
            &NewLine;
            Mars' axis is tilted in a similarly to Earth's, causing a seasonal cycle. Days on Mars take a little bit
            more than 24 hours, but it takes mars 687 Earth days to orbit the Sun.

        </p>
        <p>
            It is likely that the surface conditions on mars were once suitable for life. There is no evidence yet of
            advanced life ever taking place, but
            the planet may have at least been habitable for micro organisms in the distant past.
        </p>
        <p>
            Mars is the most explored planet by far. 50 spacecraft missions to Mars have taken place, including a
            whopping 8 successfull landing mission. In fact, there were 3 successful missions
            in 2021 alone, incuding the most advanced rover ever, Perserverance.
        </p>
    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>