<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Mercury
    </h2>
    <img src="/static/mercury.jpg">

    <div class="mainText">
        <p>
            Named after the Roman God Mercurius, this planet was first observed in the 14th century BC by an Assyrian
            astonomer.
            Mercury is closer to the sun than any other planet, and is also the smallest. With a diameter of 4880km, it
            is barely larger than Earth's moon!
        </p>
        <p>
            Being the closest planet to the Sun, sunlight is about 7 times brighter there than it is on Earth. However,
            it actually is not
            the hottest planet. That honor goes to Venus, whos thick atomosphere traps the (still relatively strong)
            heat given off by the Sun.
            Mercury does have an atomosphere, but its very thin. Its atomosphere is comprised of oxygen, sodium,
            hydrogen, helium, and potassium.
            Even though Mercury's atomosphere is similar in composition to that of the Earth, it is far too thin for
            humans to breath there.
            Mercury is also prone to bombardment by asteroids. Because of this, it was thought to have no magnetic
            field. But in 1974, the Mariner 10
            satellite revealed that the planet actually does have a very weak magnetic signature. This field isn't
            strong enough to deflect most asteroids,
            but it does indicate that there is still some internal activity within Mercury
        </p>
        <p>
            Due to its intense heat, extreme radition, lack of breathable air, and lack of a strong magnetic field,
            Mercury is not very suitable for human life.
            We have sent 2 vistors though! The previously mentioned Mariner 10 was launched in 1973. The spacecraft made
            it to Mercury in 1974, flying by the planet 3 times before its last day of contact in 1975. The MESSENGER
            satellite was launched in 2004, and orbited Mercury 4000 times before falling to the planet's surface.
        </p>
    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>