<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Neptune
    </h2>
    <img src="/static/neptune.jpg">

    <div class="mainText">
        <p>
            Neptune is the 8th and furthest planet from the Sun (sorry Pluto), and is the only planet that is not
            visible to the naked eye.
            It is named after the Roman God of the sea, due to its striking blue color. This color is caused by its
            atomosphere of hydrogen, helium, and methane.

        </p>

        <p>
            This Ice Giant is over 30 times further from the Sun than the Earth. Discovered in 1846, Neptune completed
            its first observed
            orbit of the Sun in 2011. That means that one Neptune year take 165 Earth years! In contrast, a Neptunian
            day is only 16 hours long.
        </p>
        <p>
            Neptune is thought to have a small rocky core, but the vast majority of its mass comes from dense fuild of
            water, methane, and ammonia. Neptune does have solid moons, however. We know of 14 moons currently, each
            named after lesser sea gods and nymphs. The largest of the Neptunian moons is named Triton.
        </p>
        <p>
            Neptune has rings, just like every other Gas Giant. It has 5 main rings that we know of, Galle, Leverrier,
            Lassell, Arago, and Adams. It also has 4 main ring arcs, called Liberté, Egalité, Fraternité, and Courage.
            The nature of these arcs was a mystery for a long time. It was calculated that the arcs would evenly spread
            out, but instead they condensed. This is now believed to be the product of the gravity of Galatea, one of
            Neptunes moons.
        </p>
        <p>
            Like Uranus, Voyager 2 is the only human-made spacecraft to ever reach Neptune. It passed by the planet in
            1989, about 3 years
            after visiting Uranus. Because of its lack of exploration, Neptune is mysterious compared to the other
            planets of our Solar System.
        </p>

    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>