<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Saturn
    </h2>
    <img src="/static/saturn.jpg">

    <div class="mainText">
        <p>
            Named after the Roman god of wealth, Saturn is the sixth closest planet to the sun, and the second furthest
            Gas Giant.
            Like its neighbor Jupiter, Saturn is a massive ball of hydrogen and helium. Saturn is much smaller than
            Jupiter, instead it boasts
            maybe the most iconic planetary feature in the entire Solar System: its beautiful rings.

        </p>

        <p>
            Saturn's rings are made up of tiny pieces of rock and ice, coming from either comets, asteroids, or
            shattered moons. The ring
            system spans about 175,000 miles on either side of the planet, but is only about 30 feet tall on average.
            There are 7 recognized rings around Saturn,
            each orbiting at a different speed. The main rings, A, B, and C, are the brightest of the system. Rings D,
            E, F, and G are dimmer.
            Finally, the Pheobe is the faintest by far, and is not included in the main system.
        </p>
        <p>
            Being a Gas Giant, Saturn does not have a solid Earth-like surface. Due to the hostile composition of the
            planet,
            we don't know for sure if it has a solid core.

        </p>
        <p>
            Saturn may be extremely hostile to life as we know it, but it has over 50 confirmed moons, over 80 counting
            moons that are still pending
            confirmation. Some of these may be suitable for life. One of these moons, Enceladus, was recently discovered
            to have fresh ice on its surface.
            It is thought that this ice may have been warmed by the moon's core and transported to the surface by
            bouyancy.
            If this were true, it is likely that the moon has conditions for life that are very similar to the ocean's
            floor on Earth.
        </p>
        <p>
            Compared to the Rock Planets, Jupiter has been the subject of relatively few spacecraft missions. Juno, the
            only currently active mission, sent an orbital probe to the planet in 2011. This satellite approached
            Jupiter in 2016 and is scheduled to remain in
            service until 2025, when it will be sent to burn up in the planet's atomosphere.
        </p>
        <p>
            Only a few missions to Saturn have taken place, including 3 flybys and one orbital mission.
        </p>
    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>