<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Sources
    </h2>
    <div class="Links">
        <li>
            <a href="https://en.wikipedia.org/wiki/Mercury_(planet)">https://en.wikipedia.org/wiki/Mercury_(planet)</a>
        </li>
        <li>
            <a
                href="https://www.uu.edu/dept/physics/scienceguys/2004Sept.cfm">https://www.uu.edu/dept/physics/scienceguys/2004Sept.cfm</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/mercury/overview/">https://solarsystem.nasa.gov/planets/mercury/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/venus/overview/">https://solarsystem.nasa.gov/planets/venus/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/mars/overview/">https://solarsystem.nasa.gov/planets/mars/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/saturn/overview/">https://solarsystem.nasa.gov/planets/saturn/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/uranus/overview/">https://solarsystem.nasa.gov/planets/uranus/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/neptune/overview/">https://solarsystem.nasa.gov/planets/neptune/overview/</a>
        </li>
        <li>
            <a
                href="https://solarsystem.nasa.gov/planets/jupiter/overview/">https://solarsystem.nasa.gov/planets/jupiter/overview/</a>
        </li>
        <li>
            <a
                href="https://www.space.com/47-mars-the-red-planet-fourth-planet-from-the-sun.html">https://www.space.com/47-mars-the-red-planet-fourth-planet-from-the-sun.html</a>
        </li>
        <li>
            <a
                href="https://theconversation.com/how-did-uranus-end-up-on-its-side-weve-been-finding-out-109894">https://theconversation.com/how-did-uranus-end-up-on-its-side-weve-been-finding-out-109894</a>
        </li>

    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>

</body>

</html>