<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Uranus
    </h2>
    <img src="/static/uranus.jpg">

    <div class="mainText">
        <p>
            Named after the Greek God of the sky, Uranus is the seventh planet from the sun and the third Gas Giant.
            Uranus is the only
            planet named after a purely Greek God, but it is used to being the odd one out. Like all Gas Giant, Uranus
            has rings that surround
            it. However, its rings are vertical!

        </p>

        <p>
            Much like Saturn's, Uranus' rings are made up of tiny pieces of rock and ice, thought to come from either
            comets, asteroids, or
            shattered moons.
            The planet has 9 dim inner rings and 2 bright outer rings. These rings follow the direction of the planet's
            rotation, which is sideways
            compared to every other planet in the Solar System.
        </p>
        <p>
            Uranus' axis points almost in the direction of the Sun. This is in contrast to all other planets, which have
            axes at nearly 90 degrees to their orbits.
            Not only does this make Uranus seem like it is rolling around the sun, but it means that the planet's 27
            moons orbit it sideways!
            Somehow, Uranus' magnetific field is strange even given the planet's tilt. Most planets have a magnetosphere
            perfectly in line
            with their axis of rotation, but Uranus' is offset by nearly 60 degrees. This causes the field to have a
            long corkscrew shape, extending
            into space for millions of miles.


        </p>
        <p>
            The scientific consensus is that Uranus' spin was casued by a massive
            collision during the primordial years of the solar system. We dont know for sure, as Uranus is very
            unexplored. Voyager 2 is the only human spacecraft to ever vist Uranus. It was launched in 1977 and reached
            the Ice Giant for a flyby in 1986.

        </p>

    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>