<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <h2>
        Venus
    </h2>
    <img src="/static/venus.jpg">

    <div class="mainText">
        <p>
            Sometimes called "Earth's twin" because of its proximity, size, and density, Venus is the second closest
            planet to the sun.
            Venus was named after the Roman Goddess of love and desire, but despite its beauty and surace-level
            similarity to the Earth, it is incredibly
            hostile to human life.
        </p>
        <p>
            Venus boasts the record for being the hottest planet in our solar system (Unrelated to its namesake
            Goddess). Even though it isn't the closest
            planet to the Sun, Venus' thick and toxic atomosphere made up of carbon dioxide and sulfuric acid traps
            incoming heat. With a lead-melting surface tempurate of 900 degrees Farenheit,
            you definitely don't want to visit this planet without some serious insulating equipment.
        </p>
        <p>
            Venus does have a magnetic field, but it is very weak. Comperable to Mercury's field, it is much weaker than
            every other planet's.
            Because of this, one would expect the planet to have a rough and battered surface. However, Venus has a very
            young surface. The surface is possibly
            as young as 150 million years old - very young for an ancient planet. This fact puzzles scientists. To this
            day, we still don't know how Venus resurfaced itself.
        </p>
        <p>
            We have sent over 25 satellites to Venus. We have successfully completed many flyby, orbital, atmospheric,
            and landing visitors to this planet.
        </p>
    </div>
    <form method="POST" action="/">
        <button type="submit" name="b1">New Planet</button>
    </form>
    <form method="GET" action="/">
        <button type="submit" name="b2">Home</button>
    </form>
</body>

</html>